In [ ]:
%matplotlib qt5


import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib.dates import DateFormatter
import datetime

In [ ]:
data = pd.read_excel(r"C:/Users/royal/Documents/Internship/samsung_rev.xlsx")

year = data['YEAR']
revenue = data['REVENUE (in Million USD)']
print(year, revenue)

0    2011-03-01
1    2011-06-01
2    2011-09-01
3    2011-12-01
4    2012-03-01
5    2012-06-01
6    2012-09-01
7    2012-12-01
8    2013-03-01
9    2013-06-01
10   2013-09-01
11   2013-12-01
12   2014-03-01
13   2014-06-01
14   2014-09-01
15   2014-12-01
16   2015-03-01
17   2015-06-01
18   2015-09-01
19   2015-12-01
20   2016-03-01
21   2016-06-01
22   2016-09-01
23   2016-12-01
24   2017-03-01
25   2017-06-01
26   2017-09-01
27   2017-12-01
28   2018-03-01
29   2018-06-01
30   2018-09-01
31   2018-12-01
32   2019-03-01
33   2019-06-01
34   2019-09-01
35   2019-12-01
36   2020-03-01
37   2020-06-01
38   2020-09-01
Name: YEAR, dtype: datetime64[ns] 0     34498
1     36689
2     38386
3     43996
4     42186
5     44275
6     48530
7     52141
8     49172
9     53446
10    54946
11    55137
12    49920
13    48736
14    44137
15    49040
16    43824
17    45149
18    48060
19    49591
20    46320
21    47378
22    44473
23    49600
24    47012
25    56730
26    57712
27    61362
28    56932
29    52291
30    57352
31    53050
32    46056
33    48557
34    51524
35    49768
36    47516
37    45482
38    57490
Name: REVENUE (in Million USD), dtype: int64

In [ ]:
data_rel = pd.read_excel(r"C:/Users/royal/Documents/Internship/samsung_rev.xlsx")
dates_rel = data_rel['YEAR']

In [ ]:
#'revenue = revenue.reindex(index=data.index[::-1])'

In [ ]:
fig, ax = plt.subplots()
release = [0,4,8,11,16,19,23,24,28,29,31,33,36,37]
release2 = [13,23,29,31,33,35,37]
count=1
#f = plt.figure()
#f.set_figwidth(10)
#f.set_figheight(7)
plt.title("Samsung Revenue (2005-2020)")
plt.xlabel('Year')
plt.ylabel('Revenue (in Million USD)')
#plt.xticks(rotation=90)

plt.legend() 



plt.plot(year, revenue)
for rel in release:
    plt.plot(year[rel], revenue[rel], 'go')
    plt.annotate('%d'%count, (year[rel], revenue[rel]), textcoords="offset points", xytext=(-1,6), ha='left', size=10, 
                 va='baseline')

    count += 1
    
for rel in release2:
    plt.plot(year[rel], revenue[rel], 'yo')
    plt.annotate('%d'%count, (year[rel], revenue[rel]), textcoords="offset points", xytext=(-2,5), ha='right', size=7, 
                 va='baseline')

    count += 1    


years = mdates.YearLocator()
months = mdates.MonthLocator([3,6,9,12])
monthsFmt = mdates.DateFormatter('%b') 
yearsFmt = mdates.DateFormatter('\n\n%Y')
ax.xaxis.set_minor_locator(months)
ax.xaxis.set_minor_formatter(monthsFmt)
plt.setp(ax.xaxis.get_minorticklabels(), rotation=90, size = 7)
ax.xaxis.set_major_locator(years)
ax.xaxis.set_major_formatter(yearsFmt)

No handles with labels found to put in legend.